html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.side-panel {
  background: rgba(32, 32, 32, 0.534);
  border-radius: 12px;
  color: gray;
  padding: 16px;
  z-index: 999;
  position: absolute;
}

.side-title{
  size: 20px
}

#top-right-corner {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20%;
  height: 80%;
}

#bottom-left-corner {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25%;
  height: 17.5%;
}