<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cesium.com/downloads/cesiumjs/releases/1.114/Build/Cesium/Widgets/widgets.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>satellite viewer mockup</title>
</head>
<body>
    <div id="cesiumContainer">
       <div class="side-panel" id="top-right-corner">
            <h1 class="side-title">Main information panel</h1>
            <ul>
                <li>Text element</li>
            </ul>
        </div>
        <div class="side-panel" id="top-left-corner">
            <h1 class="side-title">Satellite information panel</h1>
            <ul>
                <li>Text element</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/cesium@1.114.0/Build/Cesium/Cesium.js"></script>
    <script>
        Cesium.Ion.defaultAccessToken = "{{ CESIUM_TOKEN }}";
    </script>
    <script src="{{ url_for('static', filename='js/satellite-display.js') }}" type="module"></script>
</body>
</html>