<div class="card bg-dark text-white" id="sat-info-card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0sRYER1_-pp49j4RI5EO48fYesMWLMKh-8w&s" class="card-img-top px-2 pt-2 rounded" id="sat-img">
    <div class="card-body">
        <h5 class="card-title" id="sat-name">ISS (ZARYA)
            <span class="badge me-1 small" style="background-color: #808080">Other</span>
        </h5>
        <p class="card-text" id="sat-description">As the largest space station ever constructed, the International Space Station primarily serves as a platform for conducting scientific experiments in microgravity and studying the space environment.</p>
        
        <div class="mb-2 row">
            <div class="col-6 fw-semibold">Altitude:</div>
            <div class="col-6 text-end" id="sat-altitude">420 km</div>
        </div>
        
        <div class="mb-2 row">
            <div class="col-6 fw-semibold">Velocity:</div>
            <div class="col-6 text-end" id="sat-velocity">7.9 km/s</div>
        </div>
        
        <div class="mt-2">
            <a data-bs-toggle="collapse" href="#extraProperties" role="button" aria-expanded="false" aria-controls="extraProperties" class="text-info text-decoration-none small">
                Advanced Properties ▼
            </a>
        </div>
        
        <div class="collapse mt-2" id="extraProperties">
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Inclination:</div>
                <div class="col-6 text-end" id="sat-inclination">51.6°</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Launch Date:</div>
                <div class="col-6 text-end" id="sat-launch">1998-11-20</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Orbital Period:</div>
                <div class="col-6 text-end" id="sat-period">95 min</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Inclination:</div>
                <div class="col-6 text-end" id="sat-inclination">51.6°</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Launch Date:</div>
                <div class="col-6 text-end" id="sat-launch">1998-11-20</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Orbital Period:</div>
                <div class="col-6 text-end" id="sat-period">95 min</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Inclination:</div>
                <div class="col-6 text-end" id="sat-inclination">51.6°</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Launch Date:</div>
                <div class="col-6 text-end" id="sat-launch">1998-11-20</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Orbital Period:</div>
                <div class="col-6 text-end" id="sat-period">95 min</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Inclination:</div>
                <div class="col-6 text-end" id="sat-inclination">51.6°</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Launch Date:</div>
                <div class="col-6 text-end" id="sat-launch">1998-11-20</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 fw-semibold">Orbital Period:</div>
                <div class="col-6 text-end" id="sat-period">95 min</div>
            </div>
        </div>
    </div>
</div>